Html, body{
  height:100%;
  margin:0px;
  padding:0px;
  }

  .BigOlContaniner{
    display:table;
    height:100%;
    margin: 0 auto;
    vertical-align:middle;
  }

  .StillPrettyBigContainer{
    display:inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #f2f2f2;
    vertical-align:middle;
  }
  .StillPrettyBigContainer h3 {
    text-align: center;
  }
  .StillPrettyBigContainer h4 {
    text-align: center;
  }
  .genericForm{
    display:inline-block;
    vertical-align:middle;
  }
  .genericUpload{
    display:inline-block;
    vertical-align:middle;
  }
  .verticalTable{
    display:inline-block;
    vertical-align:middle;
  }
  .verticalTable th {
      display: table-cell;
      text-align: left;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 5px;
      padding-left: 5px;
      background-color: #e8e5e5;

      /*vertical-align: inherit;*/
  }
  .verticalTable td {
      display: table-cell;
      text-align: left;
      padding: 10px;
      /*vertical-align: inherit;*/
  }

  /*.verticalTable tr {*/
/*      display: table-cell;
      text-align: center;*/
      /*padding: 10px;*/
      /*vertical-align: inherit;*/
  /*}*/
  .verticalTable td:hover {background-color: #f5f5f5;}
}
