[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
certifi = "*"
chardet = "*"
django = "*"
django-heroku = "*"
dj-database-url = "*"
gunicorn = "*"
idna = "*"
requests = "*"
psycopg2 = "*"
pytz = "*"
whitenoise = "*"
django-import-export = "*"
django-tastypie = "*"
python-dateutil = "*"
python-mimeparse = "*"
PyYAML = "*"
tablib = "*"
"beautifulsoup4" = "*"
pprint = "*"
lxml = "*"
argparse = "*"
openpyxl = "*"
tweepy = "*"
celery = "*"
redis = "*"
"psycopg2-binary" = "*"
django-celery-beat = "*"
django-celery-results = "*"
django-redis-cache = "*"
django-ratelimit = "*"
gevent = "*"
twilio = "*"
rollbar = "*"
praw = "*"
pandas = "*"
analytics-python = "*"
dash = "*"
gspread = "*"
tldextract = "*"
scout-apm = "*"
newrelic = "*"
sqlparse = "*"

[requires]
python_version = "3.6"
